/* 사용자의 header, footer 및 to-top 버튼 */

@charset "UTF-8";

html {
    scroll-behavior: smooth;
    font-family: 'Do Hyeon', sans-serif;
    color: #535353;
}

body {
    margin: 0; /* header를 화면에 여백없이 설정하기 위해 */
    max-width: 1100px;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto
}

#header {
    display: flex;
    position: fixed; 
    width: 100vw;
    height: 100vh;
    height: 90px;
    background-color: rgb(255, 255, 255);
    box-shadow:3px 3px 2px 1px rgb(222, 222, 222);
}

/* logo */
#logo {
    margin: 10px 40px;
    margin-left: 30px;
    top: 10%;
    height: 70px;
}

/* category */
.for {
    position: relative;
    background-color: #ffffff;
    font-size: 20px;
    margin: 30px 35px;
    }

.items {
    position: absolute;
    top: 60px;
    left: -70px;
    width: 230px;
    background-color: #ffffff;
    transition: all 0.4s ease-out; /* 슬라이드 효과 추가 */
    transform: translateY(-5px); /* 초기 위치 설정 */
    opacity: 0; /* 요소를 숨기기 위해 opacity 속성 추가 */
    border: none;
}

.item {
    display: flex; /* icon과 item 수평 정렬 */
    padding: 10px;
}

.for:hover .items {
    opacity: 1; /* 요소를 보이게 함 */
    transform: translateY(0); /* 슬라이드 효과 추가 */
    border-top: 5px solid #81AE64;
}

.for:hover .category {
    color: #81AE64;
}

.button { 
    background:rgb(255, 255, 255); 
    color:#535353; font-weight:bolder; 
    border:none; cursor:pointer; 
}

.button:hover {
    color: #81AE64;
}

.icon {
    width:30px;
    height: 30px;
    margin-right: 20px;
}

#manager {
    width: 15px;
    padding-right: 10px;
}

#container { /* 오른쪽 정렬을 위한 컨테이너 */
    display: flex;
    position: absolute;
    right: 2%;
}

/* search bar */
.search {
    position: relative;
    width: 250px;
    padding-right: 0px;
    margin: 30px;
}

#search-bar {
    width: 100%;
    border: none;
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 10px 12px;
    font-size: 12px;
}

#search-bar:focus {
    outline: 2px solid #C7E78B;
}
  
#find {
    position : absolute;
    width: 20px;
    height: 20px;
    top: 7px;
    right: -10px;
    cursor: pointer;
}

/* user login & logout & mypage */
.userStatus {
    margin: 30px 10px;
    font-size: 20px;
    border: none;
    background-color: #ffffff;
    font-family: 'Do Hyeon', sans-serif;
    color: #535353;
    cursor: pointer;
}

.userStatus:hover {
    color: #81AE64;
}

#my-page {
    display: none; /* 추후에 my page는 로그인 시 Log In 대신 보이도록 할 것 */
}

/* start project */
#start-project {
    border-radius: 15px;
    border: none;
    color: #ffffff;
    background-color: #81AE64;
    font-size: 18px;
    padding: 10px 20px;
    font-family: 'Do Hyeon', sans-serif;
    cursor: pointer;
    height: 45px;
    margin: 25px 10px;
}

#start-project:hover {
    background-color: #C7E78B;
}

/* to-top button */
#to-top {
    position: fixed;
    width: 60px;
    bottom: 2%;
    right: 1%;
    cursor: pointer;
}

/* --------------------------------------------------------------------------- */

/* footer */
#footer {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    border-top: 1px solid #DEDCDC;
}

#wrap {
    margin-left: 70px;
    height: 45px;
    width: 1300px;
    background-color: #ffffff;
    border-bottom: 1px solid #DEDCDC;
}

#guides {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.guide {
    margin: 10px 30px;
    font-size: 20px;
}

.guide:hover {
    color: #81AE64;
    cursor: pointer;
}

#footer-logo {
    margin: 20px 40px;
    margin-left: 70px;
    height: 70px;
}

#texts {
    margin-top: 0px;
    margin-left: 70px;
    line-height: 35px;
}
