<!DOCTYPE html>
<html lang="en"
            xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/src/main/resources/static/login/CSS/login.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

</head>
<body>
       
        <h1 align = "center">간편 로그인</h1>
        
    
        <h1 align = "center">이메일 로그인</h1>
        
            <div class="email-login">
              <form action="login.php" method="post">
              <label for="useremail"></label>
              <input class="email" type="text" id="useremail" name="usermail" placeholder="아이디(이메일)" maxlength=20 size=20 required>
              <br><br>
              <label for="password"></label>
              <input class="pwd" type="password" id="password" name="password" placeholder="비밀번호" maxlength=12 size=20 required>
              <br><br>
            </div>
              
        <div class="login-email">
              <button class="btn-email" type="submit">이메일 로그인</button>
              <br>
            </form>
         </div>
         <br>
   
   <div class="select">
        <button class="login-select" id="regist" type="button">회원가입</button>
        <button class="login-select" id="searchId" type="button">아이디 찾기</button>
        <button class="login-select" id="searchPwd" type="button">비밀번호 찾기</button>
   </div>

</body>
</html>