<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="/src/main/resources/static/signup/CSS/signup.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
</head>
</body>

        <h1 align="center">간편 가입하기</h1>
       
             <h1 align="center">회원가입</h1>
            </div>
                <div class="signup">
				<form action="sign" method="post">
                    <label for="useremail">이메일(필수) :</label>
                    <input class="email" type="text" id="useremail" name="usermail" placeholder="아이디(이메일)" maxlength=20 size=20 required>
                    <button class="btn-id" type="button" id="confirm_id">인증</button>
                    <br><br>
                    <label for="password">비밀번호 :</label>
                    <input class="pwd" type="password" id="password" name="password" placeholder="비밀번호" maxlength=12 size=20 required>
                    <br><br>
                    <label for="password">비밀번호 재확인 :</label>
                    <input class="pwd-check" type="password" id="password" name="password" placeholder="비밀번호 재확인" maxlength=12 size=20 required>
                    <br><br>
                    <label for="username">이름(필수) :</label>
                    <input class="name" type="text" id="username" name="username" placeholder="이름" required>
                    <br><br>
                    <label for="phone">휴대전화(필수) :</label>
                    <input class="phone2" type="number" id="phone" name="phone" placeholder="-를 제외하고 입력하세요." required>
                    <br><br>
                    <label for="address">주소 :</label>
                    <input class="address2" type="text" id="address" name="address" placeholder="주소를 입력하세요">
                    <button class="btn-adress" type="button" id="search_address">검색</button>
                    <br><br>
                    <label for="address">상세 주소 :</label>
                    <input class="address2" type="text" id="address" name="address" placeholder="상세주소">
                </div>
            
                <br>
                <br>
                <div class="terms">
                    <div class="check-group">
                        <input type="checkbox" id="check_01">
                        <label for="check_01">(선택) 개인사업자이시면 체크해주세요.</label>
                        <br> 
                        <input type="checkbox" id="check_02">
                        <label for="check_02">(선택) 새로운 프로젝트 소식을 이메일과 SNS로 받겠습니다.</label>
                        <br>
                        <input type="checkbox" id="check_03">
                        <label for="check_03">(필수) 본인은 만 14세 이상이며, 회원 기본약관, 이용약관, 개인정보처리방침을 확인하였고 이 내용에 동의합니다.</label>
                    </div>
                </div>
                <br>
                <br>
                <div class="btn-sign-up">
                <button class="btn-sign_up" type="submit" id="sign_up">회원가입하기</button>
            </div>
           
</body>
</html>
