/* 로그인 페이지 */


.btn-email {
    width:150px;
    height: 40px;
    background-color: #81AE64;
    border: none;
    color:#fff;
    padding: 0px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px;
    cursor: pointer;
    border-radius:15px;
    
    
}

.login-email {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-email:hover {
    background-color: #C7E78B;
}

.btn-login:hover {
    background-color: #C7E78B;
}

.email {
    border-radius:15px;
    height: 30px;
    font-family: 'Do Hyeon', sans-serif;
    width: 300px;
    text-align: center;
    font-size: 15px;
}

.pwd {
    border-radius:15px;
    height: 30px;
    font-family: 'Do Hyeon', sans-serif;
    width: 300px;
    text-align: center;
    font-size: 15px;
}

.email-login {

    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-email {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Do Hyeon', sans-serif;
}

.login-select {
    border: none;
    background-color: white;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 15px;
}

.login-select:hover {
    background-color: #C7E78B;
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
