
.phone {
    border-radius:15px;
    text-align: center;
    width: 300px;
    height: 25px;
    font-family: 'Do Hyeon', sans-serif;
}

.email {
    border-radius:15px;
    width: 250px;
    text-align: center;
    height: 25px;
    font-family: 'Do Hyeon', sans-serif;
}

.code {
    border-radius:15px;
    width: 250px;
    height: 25px;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
}

.btn-email {

    width:50px;
    height: 30px;
    background-color: #81AE64;
    border: none;
    color:#fff;
    padding: 0px 0;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius:15px;
    font-family: 'Do Hyeon', sans-serif;
}

.check-code {
    width:50px;
    height: 30px;
    background-color: #81AE64;
    border: none;
    color:#fff;
    padding: 0px 0;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius:15px;
    font-family: 'Do Hyeon', sans-serif;

}

.btn-email:hover {
    background-color: #C7E78B;
}

.check-code:hover {
    background-color: #C7E78B;
}

.searchPwd {
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.search_Pwd {
    text-align: center;
}

.btn-searchPwd {

    width:150px;
    height: 35px;
    background-color: #81AE64;
    border: none;
    color:#fff;
    padding: 0px 0;
    font-size: 20px;
    margin: 4px;
    cursor: pointer;
    border-radius:15px;
    font-family: 'Do Hyeon', sans-serif;

}

.btn-searchPwd:hover {
    background-color: #C7E78B;
}

