

.menu-link {
    text-decoration: none;
    color:black;
}


.aside ul li {
    list-style-type: none;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.mail {
    border-radius:15px;
    height: 30px;
    font-family: 'Do Hyeon', sans-serif;
    width: 250px;
    text-align: center;
}

.name {
    border-radius:15px;
    height: 30px;
    font-family: 'Do Hyeon', sans-serif;
    width: 250px;
    text-align: center;
}

.pwd{
    width:250px;
    height: 30px;
    background-color: #81AE64;
    border: none;
    color:#fff;
    padding: 0px 0;
    font-size: 18px;
    margin: 4px;
    cursor: pointer;
    border-radius:15px;
    font-family: 'Do Hyeon', sans-serif;
}

.phone2 {
    border-radius:15px;
    height: 30px;
    font-family: 'Do Hyeon', sans-serif;
    width: 250px;
    text-align: center;
}

.address2 {
    border-radius:15px;
    height: 30px;
    font-family: 'Do Hyeon', sans-serif;
    width: 250px;
    text-align: center;
}

.btn-search {
    width:50px;
    height: 30px;
    background-color: #81AE64;
    border: none;
    color:#fff;
    padding: 0px 0;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius:15px;
    font-family: 'Do Hyeon', sans-serif;
}


.btn-profile {
    width:100px;
    height: 30px;
    background-color: #81AE64;
    border: none;
    color:#fff;
    padding: 0px 0;
    font-size: 20px;
    margin: 4px;
    cursor: pointer;
    border-radius:15px;
    font-family: 'Do Hyeon', sans-serif;
}

.btn-myInfo {
    width:150px;
    height: 35px;
    background-color: #81AE64;
    border: none;
    color:#fff;
    padding: 0px 0;
    font-size: 20px;
    margin: 4px;
    cursor: pointer;
    border-radius:15px;
    font-family: 'Do Hyeon', sans-serif;
}

.pwd:hover {
    background-color: #C7E78B;
}

.btn-search:hover {
    background-color: #C7E78B;
}

.btn-profile:hover {
    background-color: #C7E78B;
}

.btn-myInfo:hover {
    background-color: #C7E78B;
}

.menu-link:hover {
    background-color: #81AE64;
 }
 
.updateInfo {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.myInfo {
    text-align: center;
}

.aside {
    width: 200px;
    float: left;
}


