

.mail {
    border-radius:15px;
    height: 30px;
    width: 300px;
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
}


.searchId_result {
     
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.searchId-result {
    text-align: center;
}

.btn-searchId-result {
    width:150px;
    height: 35px;
    background-color: #81AE64;
    border: none;
    color:#fff;
    padding: 0px 0;
    font-size: 20px;
    margin: 4px;
    cursor: pointer;
    border-radius:15px;
    font-family: 'Do Hyeon', sans-serif;
}

.btn-searchId-result:hover {
    background-color: #C7E78B;  
}