<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>searchId</title>
    <link rel="stylesheet" href="/src/main/resources/static/searchId/CSS/searchId.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
</head>
<body>
   
    <h1 align = "center">아이디 찾기</h1>
    <p align = "center">
        기존 가입 회원정보에 휴대전화 번호가 등록 되어있지 않았을 경우,
        아이디 찾기 서비스에 제한이 있을 수 있습니다.
    </p>
    <br>
    <div class="searchId">
        <label for="username"></label>
        <input class="name" type="text" id="username" name="username" placeholder="이름" required>
        <br><br>
        <label for="phone"></label>
        <input class="phone2" type="number" id="phone" name="phone" placeholder="휴대전화" required>
        <br>
    </div>

    <br>
    <div class="btn-search-Id">
        <button class="btn-searchId" id="search_Id" type="button">아이디 찾기</button>
    </div>

</body>
</html>