

.btn-id {
    width:50px;
    height: 30px;
    background-color: #81AE64;
    border: none;
    color:#fff;
    padding: 0px 0;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius:15px;
    font-family: 'Do Hyeon', sans-serif;
}

.btn-adress {
    width:50px;
    height: 30px;
    background-color: #81AE64;
    border: none;
    color:#fff;
    padding: 0px 0;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius:15px;
    font-family: 'Do Hyeon', sans-serif;
}

.btn-sign_up{
    width:150px;
    height: 40px;
    background-color: #81AE64;
    border: none;
    color:#fff;
    padding: 0px 0;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    font-family: 'Do Hyeon', sans-serif;
    border-radius:15px;
    font-size: 20px;
}

.btn-id:hover {
    background-color: #C7E78B;
}

.btn-adress:hover {
    background-color: #C7E78B;
}

.btn-sign_up:hover {
    background-color: #C7E78B;
}


.email  {
    border-radius:15px;
    height: 25px;
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
    width: 250px;
    font-size : 15px;
}

.pwd {
    border-radius:15px;
    height: 25px;
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
    width: 250px;
    font-size : 15px;
}

.pwd-check {
    border-radius:15px;
    height: 25px;
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
    width: 250px;
    font-size : 15px;
}

.name {
    border-radius:15px;
    height: 25px; 
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
    width: 250px;
    font-size : 15px;
}

.phone2 {
    border-radius:15px;
    height: 25px;
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
    width: 250px;
    font-size : 15px;
}

.address2 {
    border-radius:15px;
    height: 25px;
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
    width: 250px;
    font-size : 15px;
}

.signup {
    
    display: flex;
    justify-content: center;
    align-items: center; 
}

.terms {
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

.btn-sign-up {
    
    text-align: center;
    
    
}