
.name {

    border-radius:15px;
    height: 25px;
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
    width: 300px;
    font-size: 15px;
}

.phone2 {
    border-radius:15px;
    height: 25px;
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
    width: 300px;
    font-size: 15px;
}


.searchId {
    
    justify-content: center;
    align-items: center; 
    text-align: center;
}  

.btn-search-Id {
    text-align: center;
}

.btn-searchId {
    width:150px;
    height: 35px;
    background-color: #81AE64;
    border: none;
    color:#fff;
    padding: 0px 0;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius:15px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px;
}

.btn-searchId:hover {
    background-color: #C7E78B;
}
