
.menu-link {
    text-decoration: none;
    color:black;
}

.menu-link:hover {
    background-color: #81AE64;
}

.aside ul li {

    list-style-type: none;
}

.withdrawal {

    display: flex;
    justify-content: center;
    align-items: center; 
}

.withdrawal_Info {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.btn-withdrawal {
    width:150px;
    height: 30px;
    background-color: #81AE64;
    border: none;
    color:#fff;
    padding: 0px 0;
    font-size: 20px;
    margin: 4px;
    cursor: pointer;
    border-radius:15px;
    font-family: 'Do Hyeon', sans-serif;
}

.btn-withdrawal:hover {

    background-color: #C7E78B;
}

.aside {
    width: 200px;
    float: left;
}


