<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>searchPwd</title>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/main/resources/static/searchPwd/CSS/searchPwd.css" type="text/css">
</head>
<body>
    
    <h1 align="center">비밀번호 찾기</h1>
    <p align="center">
        휴대전화와 이메일 주소를 입력해주세요.
    </p>
    <br>
   
    <div class="searchPwd">
        <label for="phone"></label>
        <input class="phone" type="number" id="phone" name="phone" placeholder="휴대전화" required>
        <br><br>
        <label for="useremail"></label>
        <input class="email" type="text" id="useremail" name="useremail" placeholder="이메일 주소" required>
        <button class="btn-email" id="confirm_email" type="button">인증</button>
        <br><br>
        <label for="useremail_code"></label>
        <input class="code" type="text" id="useremail_code" name="useremail_code" placeholder="인증 코드 입력" required>
        <button class="check-code" id="confirm_email_code" type="button">확인</button>
    </div>

    <br>
    <div class="search_Pwd">
        <button class="btn-searchPwd" type="button">비밀번호 찾기</button>
    </div>

</body>
</html>